<!DOCTYPE html>
<html>
  <head>
    <title>BestFlix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to image_tag("logo"), movies_path %>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>
        Copyright &copy; <%= Time.now.year %>
        <%= link_to "Tyler Rhodes", "https://tyler-rhodes-portfolio.herokuapp.com/" %>
      </p>
    </footer>
  </body>
</html>
